<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header>
        <img class = "logo" src="../../public/assets/images/logos/Group 3.png">
    </header>
    <div class = "game_add_body">
        <form action="" >
            <div class="game_add_form">
                <div class="game_title_caption">
                    <input type="text" placeholder="Game title" 
                    class="game_add_input">
                    <input type="text" placeholder="Caption"
                    class="game_add_input"> 
                </div>
                <div class="game_add_text_button">
                    <p class="game_add_text">Upload Banner</p>
                    <button type="button" class="game_add_button">Add</button>
                </div>
                <p class="Scrrenshots">Scrrenshots</p>
                <div class="upload_buttons">
                    <div class="game_add_text_button">
                        <p class="game_add_text">Upload</p>
                        <button type="button" class="game_add_button">Add</button>
                    </div>
                    <div class="game_add_text_button">
                        <p class="game_add_text">Upload</p>
                        <button type="button" class="game_add_button">Add</button>
                    </div>
                    <div class="game_add_text_button">
                        <p class="game_add_text">Upload</p>
                        <button type="button" class="game_add_button">Add</button>
                    </div>
                </div> <div class="Description">
                    <input type="text" placeholder="Description" 
                    class="game_add_input_desc">
                    <select class="game_add_input_select" placeholder="Display Name">
                        <option value="1">Gener</option>
                </div>
                </select>
            </div>
            <p class="game_add_text">Platform</p>
            <div class="game_add_text_button">
                <form>
                    <input type="checkbox" id="myCheckbox"> 
                    <label for="myCheckbox">Windows</label>
                    <input type="checkbox" id="myCheckbox"> 
                    <label for="myCheckbox">OSX</label>
                    <input type="checkbox" id="myCheckbox"> 
                    <label for="myCheckbox">Linux</label>
                  </form>
            </div>
            <button type="button" class="game_add_button_final">Add</button>
        </form>

    </div>
 
</body>
</html>