<div
  style="width: 1920px; height: 2108px; position: relative; background: #e6f3f6"
>
  <div
    style="
      width: 1920px;
      height: 269px;
      left: 0px;
      top: 1839px;
      position: absolute;
      background: #252e36;
    "
  ></div>
  <div
    style="
      width: 1356px;
      height: 1578px;
      left: 282px;
      top: 179px;
      position: absolute;
      background: #252e36;
    "
  ></div>
  <div
    style="
      width: 1920px;
      height: 5px;
      left: 0px;
      top: 1839px;
      position: absolute;
      background: #e1af64;
    "
  ></div>
  <div
    style="
      width: 266px;
      height: 71px;
      left: 108px;
      top: 1938px;
      position: absolute;
    "
  >
    <div
      style="
        left: 82px;
        top: 28px;
        position: absolute;
        color: #e6f3f6;
        font-size: 36px;
        font-family: Lato;
        font-weight: 400;
        letter-spacing: 5.4px;
        word-wrap: break-word;
      "
    >
      PIXCADE
    </div>
    <div
      style="width: 64px; height: 64px; left: 0px; top: 0px; position: absolute"
    >
      <div
        style="
          width: 16px;
          height: 16px;
          left: 0px;
          top: 48px;
          position: absolute;
          background: #e6f3f6;
        "
      ></div>
      <div
        style="
          width: 16px;
          height: 16px;
          left: 0px;
          top: 32px;
          position: absolute;
          background: #e6f3f6;
        "
      ></div>
      <div
        style="
          width: 16px;
          height: 16px;
          left: 0px;
          top: 16px;
          position: absolute;
          background: #e6f3f6;
        "
      ></div>
      <div
        style="
          width: 16px;
          height: 16px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #e6f3f6;
        "
      ></div>
      <div
        style="
          width: 16px;
          height: 16px;
          left: 32px;
          top: 48px;
          position: absolute;
          background: #e6f3f6;
        "
      ></div>
      <div
        style="
          width: 16px;
          height: 16px;
          left: 32px;
          top: 16px;
          position: absolute;
          background: #e6f3f6;
        "
      ></div>
      <div
        style="
          width: 16px;
          height: 16px;
          left: 48px;
          top: 48px;
          position: absolute;
          background: #e6f3f6;
        "
      ></div>
    </div>
  </div>
  <div
    style="
      left: 392px;
      top: 621px;
      position: absolute;
      color: #e6f3f6;
      font-size: 32px;
      font-family: Lato;
      font-weight: 500;
      word-wrap: break-word;
    "
  >
    Offworld Trading Company
  </div>
  <div
    style="
      width: 708px;
      left: 392px;
      top: 759px;
      position: absolute;
      color: #e6f3f6;
      font-size: 16px;
      font-family: Lato;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Mars has been colonized, and Earth's corporate titans fight to dominate this
    new market. Competition is fierce in this fast-paced economic RTS from
    Civilization IV Lead Designer, Soren Johnson.<br />
  </div>
  <img
    style="
      width: 376px;
      height: 215px;
      left: 1162px;
      top: 279px;
      position: absolute;
      border-radius: 5px;
    "
    src="Pixcade_Catalog\public\assets\images\screenshots\placeholder.txt"
  />
  <img
    style="
      width: 376px;
      height: 215px;
      left: 1162px;
      top: 514px;
      position: absolute;
      border-radius: 5px;
    "
    src="Pixcade_Catalog\public\assets\images\screenshots\placeholder.txt"
  />
  <img
    style="
      width: 376px;
      height: 215px;
      left: 1162px;
      top: 750px;
      position: absolute;
      border-radius: 5px;
    "
    src="Pixcade_Catalog\public\assets\images\screenshots\placeholder.txt"
  />
  <img
    style="
      width: 708px;
      height: 332px;
      left: 392px;
      top: 277px;
      position: absolute;
      border-radius: 5px;
    "
    src="Pixcade_Catalog\public\assets\images\screenshots\placeholder.txt"
  />
  <div style="left: 1043px; top: 632px; position: absolute">
    <div
      style="
        width: 19.86px;
        height: 20px;
        padding-top: 0.08px;
        padding-bottom: 0.08px;
        padding-right: 0.08px;
        left: 37.33px;
        top: 0px;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: inline-flex;
      "
    >
      <div style="width: 19.78px; height: 19.83px; background: #e6f3f6"></div>
    </div>
    <div
      style="
        width: 17.33px;
        height: 20px;
        padding-left: 0.52px;
        padding-right: 0.52px;
        left: 0px;
        top: 0px;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: inline-flex;
      "
    >
      <div style="width: 16.28px; height: 20px; background: #e6f3f6"></div>
    </div>
  </div>
  <div
    style="
      width: 89px;
      height: 26px;
      left: 392px;
      top: 717px;
      position: absolute;
    "
  >
    <div
      style="
        width: 89px;
        height: 26px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #e6f3f6;
        border-radius: 2px;
      "
    ></div>
    <div
      style="
        left: 7px;
        top: 5px;
        position: absolute;
        color: #252e36;
        font-size: 13px;
        font-family: Lato;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Single-Player
    </div>
  </div>
  <div
    style="
      width: 77px;
      height: 26px;
      left: 491px;
      top: 717px;
      position: absolute;
    "
  >
    <div
      style="
        width: 77px;
        height: 26px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #e6f3f6;
        border-radius: 2px;
      "
    ></div>
    <div
      style="
        left: 7px;
        top: 5px;
        position: absolute;
        color: #252e36;
        font-size: 13px;
        font-family: Lato;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Online PvP
    </div>
  </div>
  <div
    style="
      width: 86px;
      height: 26px;
      left: 578px;
      top: 717px;
      position: absolute;
    "
  >
    <div
      style="
        width: 86px;
        height: 26px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #e6f3f6;
        border-radius: 2px;
      "
    ></div>
    <div
      style="
        left: 5px;
        top: 5px;
        position: absolute;
        color: #252e36;
        font-size: 13px;
        font-family: Lato;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Online Co-op
    </div>
  </div>
  <div
    style="
      width: 65px;
      height: 26px;
      left: 674px;
      top: 717px;
      position: absolute;
    "
  >
    <div
      style="
        width: 65px;
        height: 26px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #e6f3f6;
        border-radius: 2px;
      "
    ></div>
    <div
      style="
        left: 9px;
        top: 5px;
        position: absolute;
        color: #252e36;
        font-size: 13px;
        font-family: Lato;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Strategy
    </div>
  </div>
  <div
    style="
      width: 45px;
      height: 26px;
      left: 749px;
      top: 717px;
      position: absolute;
    "
  >
    <div
      style="
        width: 45px;
        height: 26px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #e6f3f6;
        border-radius: 2px;
      "
    ></div>
    <div
      style="
        left: 8px;
        top: 5px;
        position: absolute;
        color: #252e36;
        font-size: 13px;
        font-family: Lato;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Sci-fi
    </div>
  </div>
  <div
    style="
      width: 119px;
      height: 26px;
      left: 804px;
      top: 717px;
      position: absolute;
    "
  >
    <div
      style="
        width: 119px;
        height: 26px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #e6f3f6;
        border-radius: 2px;
      "
    ></div>
    <div
      style="
        left: 7px;
        top: 5px;
        position: absolute;
        color: #252e36;
        font-size: 13px;
        font-family: Lato;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Real-time Strategy
    </div>
  </div>
  <div
    style="
      width: 708px;
      height: 0px;
      left: 392px;
      top: 669px;
      position: absolute;
      border: 2px #e6f3f6 solid;
    "
  ></div>
  <div
    style="
      width: 639px;
      height: 178px;
      left: 392px;
      top: 851px;
      position: absolute;
    "
  >
    <div
      style="
        width: 639px;
        height: 178px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #e6f3f6;
        border-radius: 5px;
      "
    ></div>
    <div
      style="
        left: 30px;
        top: 20px;
        position: absolute;
        color: #252e36;
        font-size: 16px;
        font-family: Lato;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Leave a review...
    </div>
  </div>
  <div
    style="
      left: 392px;
      top: 685px;
      position: absolute;
      color: #e6f3f6;
      font-size: 13px;
      font-family: Lato;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Aggregate Rating
  </div>
  <div
    style="
      left: 504px;
      top: 685px;
      position: absolute;
      color: #e1af64;
      font-size: 13px;
      font-family: Lato;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    9.2/10
  </div>
  <div
    style="
      width: 63px;
      height: 26px;
      left: 568px;
      top: 680px;
      position: absolute;
    "
  >
    <div
      style="
        width: 63px;
        height: 26px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #e6f3f6;
        border-radius: 2px;
      "
    ></div>
    <div
      style="
        left: 13px;
        top: 5px;
        position: absolute;
        color: #252e36;
        font-size: 13px;
        font-family: Lato;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Action
    </div>
  </div>
</div>
