<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixcade</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header>
        <img class="logo" src="../../public/assets/images/logos/Group 3.png">
        <div class="bar"></div>
        <form class="search-bar" action="../controllers/game_controller.php" method="POST">
            <input id="search-bar-input" type="search " placeholder="Search">
            <input name="go-button" class="button" id="search-button" type="submit" value="Go">
        </form>
        <div class="bar"></div>
        <div id="profile-header-section">
            <img id="profile-image" src="../../public/assets/images/logos/Rectangle 25.png">
            <div id="profile-link">
                <a href="">Welcome, User</a>
                <a id="logout-link" href="">Logout</a>
            </div>
        </div>
    </header>
    <div class = "main-body">
        <div class="game-card">
            <img id="game-image" src="">
            <div id="game-title-platform">
                <p id="game-title"></p>
                <img id="platform-icon" src="">
            </div>
            <div id="game-rating-genre">
                <p>Aggregate Rating</p>
                <p id="game-rating"></p>
                <div id="game-genre-section">
                    <p id="game-genre"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>