<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header>
        <img class = "logo" src="../../public/assets/images/logos/Group 3.png">
    </header>
    <div class = "main-body">
        <form action="">
            <h2 class="header-title">Welcome</h2>
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Email">
            <input type="date" placeholder="Email">
            <select placeholder="Email">
                <option value="1">Email</option>
            </select>
            <input class = "button" type="submit" value="Sign-in">
        </form>
    </div>
</body>
</html>