<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header>
        <img class = "logo" src="../../public/assets/images/logos/Group 3.png">
    </header>
    <div class = "main-body">
        <form action="" method="POST">
            <h2 class="header-title">Welcome!</h2>
            <input name="first_name" type="text" placeholder="First Name">
            <input name="last_name" type="password" placeholder="Last Name">
            <input name="displayName" type="text" placeholder="Display Name">
            <input name="email" type="email" placeholder="Email">
            <input name="password" type="password" placeholder="Password">
            <input name="dateOfBirth" type="date" placeholder="Date">
            <select name="userType" id="account-type-select" placeholder="Email">
                <option value="Developer">Developer</option>
                <option value="Gamer">Gamer</option>
            </select>
            <input class = "button" type="submit" value="Sign-up">
        </form>
    </div>
</body>
</html>